header{
    margin: 0;
    background-color: rgba(40, 40, 40, 0.7);
    height:35px;
    position: relative;
    bottom: 0;
}

header li {
    display: inline-block;
}

nav a {
    padding: 4px 10px; 
    font-weight: bold;
    text-decoration: none;
    color: #046380;
}

#navigation a:hover, #navigation a:focus {
    text-decoration: underline;
    color: #01B0F0;
    font-size:25px;

}

.en-cours {
    color: #01B0F0;
    text-decoration:underline;
}

body {
    color: white;
    text-shadow: 1px 1px rgba(40,40,40,0.7);
    font-size: 20px;
    margin:5px 250px;
    font-family: 'Lobster Two', cursive;
    background-image:url(images/fond.jpg);
}

main {
    min-height: 100%;
    max-width:1000px;
    margin: auto;
}

h1,h3 {
    text-shadow: 2px 2px 3px #000000;
}

h2 {
    color: #FF8000;
     text-shadow: 2px 2px 3px #000000;
}

li {
    text-decoration: none;
}

a {
    font-size:24px;
    border-radius: 10px;
    transition: all 0.3s linear;
    text-decoration: none;
    color: #01B0F0;
}

footer{
    margin: 0;
    background-color: rgba(40, 40, 40, 0.7);
    position: relative;
    bottom: 0;
}

footer li {
    display: inline-block;
}